/* I have set a specific width, made it centered, made the text white */
body{ 
    width: 1000px;
    margin: 0 auto;
    color: white;
    animation: background_changer 30s infinite;
    padding: 0px 10px;
}
/* Below I have essentially created a function that changes the background colour when run. */
@keyframes background_changer{
    0% {background-color:rgb(0, 0, 200)}
    25%{background-color: rgb(10, 20, 210);}
    50%{background-color: rgb(30, 60, 210);}
    75%{background-color: rgb(10, 20, 210);}
    100% {background-color:rgb(0, 0, 200)}
}
/* used flex direction reverse because I was too lazy too cut and past the aside part of the code to the other side (originally was on the right) */
.Content{
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    
}

section{
    width: 700px;
    float:left;
}
/* got some space between the article boxes so that they are not clumped together one after the other. */
article{
    background-color:darkblue;
    min-height: 300px;
    padding: 10px;
    margin: 8px 0px;
    border: 2px solid black;
}
/* used min-height: 2000px; to check if the poistion sticky on the aside was working or not. */
aside{
    width: 200px;
    max-height: 180px;
    background-color: darkblue;
    margin-top: 10px;
    position: sticky;
    top: 50px;
}

h2{
    text-align: center;
}

nav ul{
    padding-left: 0px;
}

nav ul li{
    display: inline-block;
    padding-left: 40px;
}

a{
    color: white;
}
/* hovering over the navigation bar options will show you which one your cursor is over making it easier for the user */
a:hover{
    border: 2px solid white;
    border-radius: 42%;
    padding: 4px;
}
/* making the video centered to the box it's in making it more appealing to the user */
.videos{
    text-align: center;
    margin: 5px 0px;
}
/* getting some distance between the music button and the navigation bar */
#soundButton{
    margin: 20px 0px 0px 10px;
}

footer{
    width: 996px;
    background-color: darkblue;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    border: 2px solid black;
}

.social_media_logo{
    border: 2px solid black;
    border-radius: 22%;
    width: 56px;
}