body{
    width: 1000px;
    min-height: 2000px;
    margin: 0 auto;
    color: white;
    background-color:rgb(5, 94, 172);
    animation: background_changer 10s infinite;
}

@keyframes background_changer{
    0% {background-color:blue}
    50%{background-color: rgb(5, 94, 172);}
    100%{background-color: blue;}
}

.Content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

section{
    width: 700px;
    float:left;
}

article{
    background-color:darkblue;
    min-height: 300px;
}

aside{
    width: 200px;
    max-height: 180px;
    background-color: darkblue;
    margin-top: 10px;
    position: sticky;
    top: 50px;
}

nav ul{
    padding-left: 0px;
}

nav ul li{
    display: inline-block;
    padding-left: 40px;
}

a{
    color: white;
}

footer{
    clear: both;
    width: 1000px;
    background-color: darkblue;
}